@charset "utf-8";
@use "common" as *;

.contents__container-2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 40px;
}

.contents__item-2 {
  display: grid;
  place-items: center;
  padding: 10px;
  gap: 8px;
  width: 240px;
  height: auto;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: $breakpoint-tb) {
  .contents__container-2 {
    flex-flow: row;
    flex-wrap: wrap;
    .contents__item-2 {
      padding: 16px;
      width: 360px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $breakpoint-pc) {
  .contents__container-2 {
    flex-flow: row;
    flex-wrap: wrap;
    .contents__item-2 {
      padding: 24px;
      width: 400px;
      font-size: 16px;
    }
  }
}

// TODO: spだと項目を開くと閉じても別の項目を開くまでhover時の色が残る
// cssのみで実装
.menu {
  display: flex;
  flex-flow: column;
  gap: 4px;
  text-align: left;
  li {
    width: 216px;
  }
  input {
    display: none;
  }
  label {
    display: block;
    padding: 16px;
    line-height: 1;
    color: #fff;
    background: $color-accent;
    cursor: pointer;
    // &:hover {
    //   background: $color-main;
    //   transition: all 0.5s;
    // }
  }
  ul {
    padding: 0 16px;
    background: #fff;
    li {
      height: 0;
      overflow: hidden;
    }
  }
  #type_1:checked ~ #links_1 li,
  #type_2:checked ~ #links_2 li,
  #type_3:checked ~ #links_3 li {
    height: auto;
    padding: 8px 0 8px 8px;
    visibility: visible;
  }
  #type_1:checked + label,
  #type_2:checked + label,
  #type_3:checked + label {
    background: $color-main;
  }
}

@media (hover: hover) {
  .menu {
    label:hover {
      background: $color-main;
      transition: all 0.5s;
    }
  }
}
@media (hover: none) {
  .menu {
    label:active {
      background: $color-main;
      transition: all 0.5s;
    }
  }
}

// css・jsで実装
.menu-2 {
  display: flex;
  flex-flow: column;
  padding: 0;
  gap: 4px;
  width: 216px;
  text-align: left;
  li {
    background-color: $color-accent;
  }
  ul {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: #fff;
    li {
      margin-left: 16px;
      padding: 8px 0 8px 8px;
      background-color: #fff;
    }
  }
  button {
    position: relative;
    padding: 15px 0 15px 20px;
    width: 100%;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-size: 1em;
  }
  button:hover {
    background-color: $color-main;
    transition: all 0.5s;
  }
  li.active {
    background-color: $color-main;
  }
  button::before,
  button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1.5px;
    height: 8px;
    background-color: #fff;
    transition: 0.5s;
  }
  button::before {
    transform: translateY(-50%) rotate(-45deg);
    right: 35px;
  }
  button::after {
    transform: translateY(-50%) rotate(45deg);
    right: 30px;
  }
  li.active button::before {
    transform: translateY(-50%) rotate(-135deg);
    transition: 0.5s;
  }
  li.active button::after {
    transform: translateY(-50%) rotate(135deg);
    transition: 0.5s;
  }
  ul.active {
    overflow-y: auto;
  }
}
