@charset "utf-8";
// @use "style";
@use "common" as *;

// cssのみで実装
.menu {
  width: 240px;
  input {
    display: none;
  }
  label {
    display: block;
    padding: 20px;
    line-height: 1;
    color: #fff;
    background: $color-accent;
    cursor: pointer; // TODO: aタグにも使える？
    font-weight: bold;
    &:hover {
      background: $color-main;
    }
  }
  ul {
    margin-bottom: 5px;
    padding: 0 20px;
    background: #fff;
    li {
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
  #type_1:checked ~ #links_1 li,
  #type_2:checked ~ #links_2 li,
  #type_3:checked ~ #links_3 li {
    height: auto;
    visibility: visible;
  }
  #type_1:checked + label,
  #type_2:checked + label,
  #type_3:checked + label {
    background: $color-main;
  }
}

// css・jsで実装
.menu-2 {
  width: 150px;
  ul {
    background-color: $color-accent;
    // width: 150px;
    padding: 0;
    color: #fff;
  }
  li {
    list-style: none;
  }
  ul ul {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    border-top: 1px solid #67a863;
    background-color: #5eaa6c;
    margin: 0;
  }
  ul li li {
    border-bottom: 1px dotted #7fbf8b;
    padding: 10px 0 10px 10px;
    margin-left: 15px;
  }
  ul:nth-of-type(1) li.active li:last-child {
    border-bottom: 1px solid #67a863;
  }
  button {
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 15px 0 15px 20px;
    font-size: 1em;
  }
  button:hover {
    background-color: #1a5b27;
  }
  button::before,
  button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1.5px;
    height: 8px;
    background-color: #fff;
    transition: 0.5s;
  }
  button::before {
    transform: translateY(-50%) rotate(-45deg);
    right: 35px;
  }
  button::after {
    transform: translateY(-50%) rotate(45deg);
    right: 30px;
  }
  li.active button::before {
    transform: translateY(-50%) rotate(-135deg);
    transition: 0.5s;
  }
  li.active button::after {
    transform: translateY(-50%) rotate(135deg);
    transition: 0.5s;
  }
  ul:nth-of-type(2) {
    background-color: #357d87;
  }
  ul:nth-of-type(2) ul {
    background-color: #519fa5;
    border-top: 1px solid #5d9fa8;
  }
  ul:nth-of-type(2) button:hover {
    background-color: #1c4b56;
  }
  ul:nth-of-type(2) li li {
    border-bottom: 1px dotted #73bebf;
  }
  ul:nth-of-type(2) li.active li:last-child {
    border-bottom: 1px solid #5d9fa8;
  }
  ul.active {
    overflow-y: auto;
  }
}
