@charset "utf-8";
@use "style";

// cssのみで実装
.menu {
  max-width: 400px;
  input {
    display: none;
  }
  label {
    display: block;
    margin: 0 0 5px 0;
    padding: 20px;
    line-height: 1;
    color: #fff;
    background: style.$color-accent;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    &:hover {
      background: style.$color-main;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    background: #fff;
    li {
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      font-family: sans-serif;
    }
  }
  #type01:checked ~ #links01 li,
  #type02:checked ~ #links02 li,
  #type03:checked ~ #links03 li {
    height: 100px;
    visibility: visible;
  }
  #type01:checked + label,
  #type02:checked + label,
  #type03:checked + label {
    background: style.$color-main;
  }
}
