@charset "utf-8";
@use "common" as *;

// common.scssから読み込み
// .hide {
//   display: none !important;
// }

.position-relative {
  position: relative;
}

.btn-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 20px;
  color: $color-base;
  background-color: $color-accent1;
  border-radius: 32px * 0.5;
}

.loading-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0.6;
  z-index: $zindex-loading - 10;
  &.active {
    display: flex;
    animation: appear-pale 1s ease;
  }
}

// ボタンを押すと表示されるアニメーション
.loading-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  z-index: $zindex-loading;
  &__btn-cancel {
    position: absolute;
    top: 24%;
    right: 20%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-accent1;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: $color-base;
    font-size: 22px;
  }
  &__dots {
    display: flex;
    gap: 4px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  // ローディング画面
  &.active {
    display: flex;
    animation: appear 1s ease;
    img:nth-of-type(1) {
      animation: jump 2s infinite;
    }
    img:nth-of-type(2) {
      animation: jump 2s infinite 0.33s;
    }
    img:nth-of-type(3) {
      animation: jump 2s infinite 0.66s;
    }
    img:nth-of-type(4) {
      animation: jump 2s infinite 0.99s;
    }
    img:nth-of-type(5) {
      animation: jump 2s infinite 1.32s;
    }
    img:nth-of-type(6) {
      animation: jump 2s infinite 1.65s;
    }
  }
}

// アニメーション
@keyframes appear-pale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  8% {
    transform: translateY(-10px);
  }
  16% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

// ページを開くと表示されるアニメーション
.loading-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  padding: 50px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: $zindex-loading;
  &__percent {
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
  }
  &__gauge {
    width: 0px;
    height: 5px;
    background: $color-accent1;
  }
}
.img-loading {
  padding: 0 21%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 16px;
  p {
    font-size: 16px;
  }
}
