@charset "utf-8";

// 使用カラー
$color-base: #f8f5e4;
$color-main: #242e68;
$color-accent: #539165;

body {
  padding: 4%;
  background-color: $color-base;
  color: $color-main;
}

header {
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
  }
}

a {
  border-bottom: solid 1px $color-main;
}
