@charset "utf-8";
@use "variables" as *;
@forward "variables";

// 使用フォント
//// キウイ丸
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
$font-title: "Kiwi Maru", "ヒラギノ丸ゴ ProN", sans-serif;
$font-text: "ヒラギノ丸ゴ ProN", sans-serif;

body {
  padding: 4%;
  background-color: $color-base;
  color: $color-main;
  font-family: $font-text;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    font-size: 12px;
    display: flex;
    gap: 16px;
  }
}

.contact-icon {
  width: 16px;
  height: 16px;
  font-size: 11px;
  border: solid 1px $color-main;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rogo {
  font-family: $font-title;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.top {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  h1 {
    font-size: 32px;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
}

.contents__container {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(2, 160px);
  justify-content: center;
  gap: 40px;
}
.contents__item {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 4px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.bg-main:hover {
  background-color: $color-main;
  color: $color-base;
}

@media screen and (max-width: $breakpoint-tb) {
  .contents__container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    gap: 32px;
  }
  .contents__item {
    font-size: 14px;
  }
}

@media screen and (max-width: $breakpoint-sp) {
  .contents__container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 24px;
  }
  .contents__item {
    font-size: 11px;
  }
}

.foot {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    gap: 16px;
  }
}
