@charset "utf-8";
@use "common" as *;

// title属性を使用
.tooltip-1 {
  padding: 2px 12px;
  background: $color-accent;
  color: $color-base;
  border-radius: 3px;
  cursor: pointer;
}

// カスタムデータ属性を使用
.tooltip-2 {
  position: relative;
  padding: 2px 12px;
  background: $color-accent;
  color: $color-base;
  border-radius: 3px;
  cursor: pointer;
  /* ツールチップ全体の設定 */
  &::before,
  &::after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  /* 吹き出しのひげ部分 */
  &::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: $color-main;
    top: 4px;
    left: 37%;
  }
  /* 吹き出しの本体 */
  &::after {
    content: attr(data-tooltip);
    top: 24px;
    left: 0;
    padding: 8px 12px;
    background: $color-main;
    border-radius: 3px;
    color: $color-base;
    z-index: 1;
  }
  /* マウスホバーしたときの設定 */
  // &:hover::before,
  // &:hover::after {
  //   opacity: 1;
  //   visibility: visible;
  // }
  // &:hover::before {
  //   top: 14px;
  // }
  // &:hover::after {
  //   top: 34px;
  // }
  @media (hover: hover) {
    &:hover::before,
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
    &:hover::before {
      top: 14px;
    }
    &:hover::after {
      top: 34px;
    }
  }
  @media (hover: none) {
    &:active::before,
    &:active::after {
      opacity: 1;
      visibility: visible;
    }
    &:active::before {
      top: 14px;
    }
    &:active::after {
      top: 34px;
    }
  }
}

// テキストとツールチップを別要素で管理
.tooltip-3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  p {
    margin: 0;
    padding: 2px 12px;
    background: $color-accent;
    color: $color-base;
    border-radius: 3px;
  }
  &:hover .description1 {
    display: inline-block;
    top: -48px;
    left: 0px;
  }
}
.description1 {
  display: none;
  position: absolute;
  padding: 8px 12px;
  line-height: 1.6em;
  color: $color-base;
  border-radius: 3px;
  background: $color-main;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 55%;
    border: 10px solid transparent;
    border-top: 10px solid $color-main;
    margin-left: -15px;
  }
}
